.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
    background-color: white;
    padding: 5px;

}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}


.section-box-ten{
    height: 250px;
    background: radial-gradient(#6e6e6e,#2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
    background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
    color: #fff;
    position: relative;
    overflow:hidden;
}
.section-box-ten figure {
    position: absolute;
    text-align: left;
    padding: 10px 19px 19px 19px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    background: rgba(0, 0, 0, 0.71);
    bottom: -88%;
    transition: ease-in-out .5s;
}
.section-box-ten:hover figure {
    bottom: 0;
}
.section-box-ten figure h5{
    margin: 0;
    padding-bottom: 8px;
}
.section-box-ten img{
    height: 100%;
}

.section-box-ten figure {
    position: absolute;
    text-align: left;
    padding: 4px 19px 19px 22px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    background: rgba(23, 107, 22, 0.53);
    bottom: -85%;
    transition: ease-in-out 0.5s;
}
figure {
    margin: 0 0 0rem;
}

.btn-read{
    color: #ffffff;
}
.img-fluid{
    width: 100%;
}