.check-radio{
    font-size: 14px;
    line-height: 1.42857;
    color: #2e6108;
    font-weight: 400;
    font-weight: bold;
}
.bg-card-select-plan{
    background-color: #fdfdfd;
}

area {
    background-color: #eee;
}


/*.portrait{
    height: 1000px;
    width: 1200px;
}
.portrait img{
    max-width:100%; 
    max-height:100%;
}*/



