@media (max-width: 1280px) {
    table.responsive td, table.responsive th {
        font-size: 12px !important;
        padding: 2px !important;
    }
}

@media (min-width: 1281px) {
    table.responsive td, table.responsive th {
        font-size: 14px !important;
    }
}