/*!

 =========================================================
 * Developed by Pacteez
 =========================================================

*/


body {
    background-color: #eee;
}

.text-menu {
    color: white !important;
    cursor: pointer !important;
    font-size: 16px;
}

.navbar-nav li a:hover{
    background-color: #095a15;
    border-radius: 5px;
    /*background:linear-gradient(#086102,#21b118);*/
    /*box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.5);*/
}

.btn:disabled{
    background-color: gray !important;
    border: none !important; 
    color: white !important;
}


.footer-my {
    font-size: .9em;

    padding-bottom: 5px;
    border-top: 2px solid #31813a;
    background-color: #ffffff;
    /*background:linear-gradient(#f5f4f4, #e6e6e6);*/
    color: #333;
    padding: 15px;
    line-height: .3;
}
.footer-my a {
    color: #333;
}

.footer-my p {
    color: green;
}
.footer-my a:hover {
    color: #48a948;
    text-decoration: none;
}  
#hoverFB {
    background-image: url('https://libapps.s3.amazonaws.com/accounts/108452/images/FB-FindUsonFacebook-online-144bw.png');
    width: 114px;
    height: 21px;
}

#hoverFB:hover {
    background-image: url('https://libapps.s3.amazonaws.com/accounts/108452/images/FB-FindUsonFacebook-online-144grn.png');
    width: 114px;
    height: 21px;
}



